@model Medicines



<div class="thumbnail bg-light">
    <div class="caption-full">
        <h3>Название продукта</h3>
        <h3><a href="#"> @Model.Name</a> </h3>
        <h4 class="pull-right">Цена: @Model.Price</h4>
        <h4>Производитель: @Model.Country</h4>
        <p class="font-italic">Описание: @Model.Description</p>
    </div>
</div>