@model HomeDetailsViewModel


@{
    ViewBag.Title = "Doctor Details";
}


<h3>@Model.PageTitle</h3>


<div>
    Name: @Model.Doctor.Name
</div>

<div>
    Email: @Model.Doctor.Email
</div>

<div>
    Description: @Model.Doctor.Description
</div>

